html,
body,
#root {
    height: 100%;
    margin: 0;
}

:root {
    --modal-dialog-width: 600px;
    --modal-dialog-height: auto;
}

.plate-scroll {
    scrollbar-width: thin;
    scrollbar-color: #091e4224 #091e420f;
}

.scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: auto; /* For Firefox */
    scrollbar-color: #d1d5db #f3f4f6; /* Scrollbar and track colors */
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f3f4f6; /* Track color */
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #d1d5db; /* Thumb color */
    border-radius: 12px; /* Rounded edges */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #9ca3af; /* Hover color */
}

@media (min-width: 30rem) {
    .modal-container {
        max-width: calc(-120px + 100vw);
        max-height: calc(-119px + 100vh);
        position: absolute;
        inset-block-start: 60px;
        inset-inline: 0px;
        margin-inline: auto;
        pointer-events: none;
    }
}

.modal-container {
    display: flex;
    position: fixed;
    border-radius: 3px;
    z-index: 510;
    flex-direction: column;
    transition-duration: 350ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.15, 1, 0.3, 1);
    transform: translateY(20px);
    animation: modalRise 0.3s ease-in-out forwards;
}

.option-container {
    transition-duration: 150ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.15, 1, 0.3, 1);
    transform: translateY(20px);
    animation: modalRise 0.15s ease-in-out forwards;
}

@media (min-width: 30rem) {
    .modal {
        max-height: inherit;
    }
}

@media (min-width: 30rem) {
    .modal {
        max-width: inherit;
        border-radius: 3px;
        box-shadow: var(--ds-shadow-overlay, 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 1px rgba(9, 30, 66, 0.08), 0 0 20px -6px rgba(9, 30, 66, 0.31));
        margin-inline: inherit;
    }
}

.modal {
    display: flex;
    max-width: 100vw;
    min-height: 0px;
    flex: 0 1 auto;
    flex-direction: column;
    color: var(--ds-text, #091e42);
    pointer-events: auto;
}

@keyframes modalRise {
    0% {
        transform: translateY(20px); /* Start slightly lower */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateY(0); /* Move to original position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes modalFall {
    0% {
        transform: translateY(0); /* Start at original position */
        opacity: 1; /* Fully visible */
    }
    100% {
        transform: translateY(20px); /* Move slightly down */
        opacity: 0; /* Fade out */
    }
}

@keyframes modalFall {
    0% {
        transform: translateY(0); /* Start at original position */
        opacity: 1; /* Fully visible */
    }
    100% {
        transform: translateY(-20px); /* Move slightly down */
        opacity: 0; /* Fade out */
    }
}

.modal-container {
    animation: modalRise 0.2s ease-in-out forwards; /* Apply the rise animation */
}

.modal-container.closing {
    animation: modalFall 0.2s ease-in-out forwards; /* Apply the fall animation */
}

.force-bar-color span {
    background-color: #00D7C0 !important;
}

.force-bar-complete span {
    background-color: #1f845a !important;
}

.custom-scrollbar {
    scrollbar-color: #fff6 #00000026;
    scrollbar-width: auto;
}
.scrollbar-hidden {
    scrollbar-width: none; /* For Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.fade-out {
    transition: opacity 0.2s ease-out; /* Adjust duration and easing as needed */
    opacity: 0; /* Fade out effect */
}

.test {
    overflow-x: visible;
    overflow-y: scroll;
}

.transition-height {
    transition: height 0.1s ease-in-out;
}


.transition-width {
    transition: width 0.5s ease;
  }

  .transition-width-fast {
    transition: width 0.15s ease;
  }